<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a campground</title>
</head>
<body>
    <h1>Update a campground</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="campground[description]" id="description" value="<%= campground.description %>">
        </div>
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
</body>
</html>