<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New campground</title>
</head>
<body>
    <h1>Create a new campground</h1>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="campground[description]" id="description">
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>